
#formulario #progress{
    margin-bottom: 30px;
    overflow: hidden;
    
    counter-reset: step;
}
#formulario #progress li{
    list-style-type: none;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    float: left;
    width: 33.33%;
    position: relative;
}
#formulario #progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    line-height: 20px;
    background: lightgray;
    color: gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    margin: 0 auto 10px auto;
}
#formulario #progress li:after{
    content: '';
    width: 94%;
    background: lightgray;
    height: 2px;
    position: absolute;
    top: 9px;
    left: -48%;
    
}

#formulario #progress li:first-child:after{
    content: none;
}
#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
    background-color: lightgrey;
    color: white;
}
